numpy
pandas
librosa
scikit-learn
torch
torchaudio
torchvision
matplotlib
seaborn
plotly
fastapi
uvicorn[standard]
python-multipart
pydantic
streamlit
locust
requests
tqdm
mlflow
pyyaml
joblib
locust
soundfile
